.padre {
  /* border: 3px solid red; */
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../img//mandaloriano.jpg"); /* Reemplaza 'ruta/a/tu/imagen.jpg' con la ruta de tu imagen */
  background-size: cover; /* Ajusta la imagen al tamaño del div */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  cursor: pointer;
}

.containertarjetas {
  width: 90%;
  /*  border: 2px solid red; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Cambiado de nowrap a wrap */
  height: auto;
  justify-content: space-around;
}

.tarjetas {
  border: 2px solid black;
  color: black;
  border-radius: 0.3rem;
  margin: 0.1rem;
  height: 13rem;
  width: 10rem;
  margin-bottom: 1rem;
  background-color: white;
}

.imagen {
  background-size: cover; /* Ajusta la imagen al tamaño del div */
  background-repeat: no-repeat;
  width: 100% !important;
  height: 10rem !important;
}

.footer {
  background-color: gray;
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
